function Keyboard.init 0
function Keyboard.keyPressed 0
push constant 24576
call Memory.peek 1
return  
function Keyboard.readChar 1
label LABEL1 
call Keyboard.keyPressed 0
push constant 0
eq  
not  
if-goto LABEL2 
goto LABEL1 
label LABEL2 
call Keyboard.keyPressed 0
pop local 0
label LABEL3 
call Keyboard.keyPressed 0
push constant 0
eq  
not  
not  
if-goto LABEL4 
goto LABEL3 
label LABEL4 
push local 0
call Output.printChar 1
pop temp 0
push local 0
return  
function Keyboard.readLine 2
push local 0
call Output.printString 1
pop temp 0
push constant 64
call String.new 1
pop local 0
label LABEL5 
push constant 1
neg  
not  
if-goto LABEL6 
call Keyboard.readChar 0
call String.newline 0
eq  
not  
if-goto LABEL8 
call String.newline 0
call Output.printChar 1
pop temp 0
push local 0
return  
goto LABEL7 
label LABEL8 
label LABEL7 
call Keyboard.readChar 0
call String.backspace 0
eq  
not  
if-goto LABEL10 
push local 0
call String.eraseLastChar 0
pop temp 0
call Output.backSpace 0
pop temp 0
goto LABEL9 
label LABEL10 
call Keyboard.readChar 0
pop local 1
push local 0
push local 1
call String.appendChar 1
pop local 0
label LABEL9 
goto LABEL5 
label LABEL6 
function Keyboard.readInt 1
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 0
return  
